alurapic/.DS_Store
alurapic/node_modules/
alurapic/npm-debug.log
dist/
npm-debug.log

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
